service: ecs-drain
package:
  individually: true

provider:
  name: aws
  runtime: go1.x
  region: us-east-1
  memorySize: 128
  timeout: 900
  stage: prod
  logRetentionInDays: 14
  iamRoleStatements:
    - Effect: Allow
      Action:
        - autoscaling:CompleteLifecycleAction
        - ec2:DescribeInstanceAttribute
        - ec2:DescribeInstances
        - ecs:ListContainerInstances
        - ecs:SubmitContainerStateChange
        - ecs:DescribeContainerInstances
        - ecs:UpdateContainerInstancesState
      Resource: "*"

functions:
  main:
    handler: bin/drain
    package:
      exclude:
        - ./**
      include:
        - ./bin/drain
    events:
      - cloudwatchEvent:
          event:
            source:
              - "aws.autoscaling"
            detail-type:
              - "EC2 Instance-terminate Lifecycle Action"
      - cloudwatchEvent:
          event:
            source:
              - "aws.ec2"
            detail-type:
              - "EC2 Spot Instance Interruption Warning"
